# SKLEARN HOUSING DATA
## Train-test Split Notebook

This notebook will use the data generated from the previous notebook and create a train-test split of the data.

The split data will be saved to csv files in the data folder.

In [3]:
import os
import pandas as pd

In [4]:
os.getcwd()

'/home/danny/Desktop/sklearn_housing/notebooks'

In [5]:
data_file_path = os.path.join('..', 'data', 'data.csv')

In [9]:
df = pd.read_csv(data_file_path)

In [10]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
df.shape

(506, 14)

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
y = df['target']
X = df.drop(columns=['target'])

In [15]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: target, dtype: float64

In [16]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
print(X.shape, y.shape, sep='\n')

(506, 13)
(506,)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
dfs = [X_train, X_test, y_train, y_test]
csv_names = ['X_train.csv', 'X_test.csv', 'y_train.csv', 'y_test.csv']

In [22]:
data_path = os.path.join('..', 'data')
for df, name in zip(dfs, csv_names):
    out_path = os.path.join(data_path, name)
    df.to_csv(out_path, index=False)